.word {
  text-align: center;
  padding-top: 180px;
  letter-spacing: 10px;
  font-size: 75px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 600;
  color: #fff;
  transition: 0.5s;
}
.word:hover {
  -webkit-text-stroke: 2px #fff;
  color: transparent;
}
.btn {
  margin-left: 680px;
  color: #fff;
  padding: 10px 40px;
  border: 2px solid #fff;
  background: transparent;
  transition: 0.5s;
}

.back-video {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
}
@media (min-aspect-ratio: 16/9) {
  .back-video {
    width: 100%;
    height: auto;
  }
}

.btn:hover {
    transition: 0.5s;
  background-color: #fff;
  color: black;
  border: 2px solid #fff;
}
